<footer id="colophon" role="contentinfo">
    <div class="site-info" style="text-align: center">
        Copyright&copy;&nbsp;{{ CURRENT_YEAR }}&nbsp;
        <a href="/" target="blank">{{ SITE_NAME }}</a>
        &nbsp;|&nbsp;
        本页面加载耗时:<!!LOAD_TIMES!!>s
    </div>
    {% if BEIAN_CODE %}
        <div class="site-info" style="text-align: center">
            <a href="http://www.beian.miit.gov.cn/" rel="nofollow" target="_blank" style=" height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#939393;">
                {{ BEIAN_CODE }}
            </a>
            |
            <a target="_blank" href="http://www.beian.gov.cn" style=" height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#939393;" rel="nofollow">
                <img src="/img/beian.png" rel="nofollow"/>
                京公网安备 11010502040860号
            </a>
        </div>
    {% endif %}
    {% if ANALYTICS_CODE %}
        {{ ANALYTICS_CODE| safe }}
    {% endif %}
</footer><!-- #colophon -->


